svg {
    width: 350px;
    height: 300px;
    margin-top: 128px;
}

/* Chemical tube */
#Base {
    fill: rgb(121, 0, 0);
}

#Base:hover + #Animate {
    fill: red;
    transition: all 0.5s ease;
    transform-origin: center;
}

#Base:hover + #Animate {
    animation: moveBubbles 1s linear infinite;
}

@keyframes moveBubbles {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Design Symbol*/
#squareandpen {
    fill: rgb(6, 67, 0);
}

#squareandpen:hover + #Animate {
    fill: rgb(49, 195, 105);
    transition: all 0.5s ease;
    transform-origin: center;
}

#squareandpen:hover + #Animate {
    animation: moveBubbles2 1s linear infinite;
}

@keyframes moveBubbles2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* House */
#Basehouse {
    fill: rgb(118, 118, 118);
}

#Basehouse:hover + #Animate {
    fill: rgb(90, 25, 25);
    transition: all 0.5s ease;
    transform-origin: center;
}

#Basehouse:hover + #Animate {
    animation: moveroof 1s linear infinite;
}

@keyframes moveroof {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Mouse */
#Basemouse {
    fill: rgb(0, 0, 0);
}

#Basemouse:hover + #Animate {
    fill: rgb(53, 53, 53);
    transition: all 0.5s ease;
    transform-origin: center;
}

#Basemouse:hover + #Animate {
    animation: moveBubbles 1s linear infinite;
}

@keyframes moveBubbles {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Plug */
#Baseplug {
    fill: rgb(0, 0, 0);
}

#Baseplug:hover + #Animate {
    fill: rgb(0, 0, 0);
    transition: all 0.5s ease;
    transform-origin: center;
}

#Baseplug:hover + #Animate {
    animation: moveBubbles 1s linear infinite;
}

@keyframes moveBubbles {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}
/* tv */
#Basetv {
    fill: rgb(0, 0, 0);
}

#Basetv:hover + #Animate {
    fill: rgb(0, 0, 0);
    transition: all 0.5s ease;
    transform-origin: center;
}

#Basetv:hover + #Animate {
    animation: moveBubbles 1s linear infinite;
}

@keyframes moveBubbles {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}